@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background-image: url('/spaace.jpg');
  background-size: cover; /* or 'contain' or 'auto' depending on your use case */
  background-repeat: no-repeat;
  background-position: center;
}


@keyframes moveDown {
  to {
    top : 2000px;
  }
}

.boulder-shadow {
  filter : drop-shadow( 10px 10px 5px #00000066)
}

.rocket-shadow {
  filter : drop-shadow( 3px 3px 2px   #00000066)
}